@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

.collectionName{
    font-family: 'Dosis', sans-serif;
}

.btnMore{
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
}
