@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

.comicDetail{
    position: relative;
}

.comicContainer{
    width: 80% !important;
}

.comicRender{
    height: 22rem !important;
}

.blurBackground{
    max-height: 22rem;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.blurBackground img{
    width: 100%;
    filter: blur(.555556rem);
}

.comicImgMask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(0,0,0,.7),#fff);
}

.comicDescript{
    font-family: 'Dosis', sans-serif;
    margin-top: 1.3rem;
    line-height: 2rem;
}

.comicStatisticalIcons{
    margin-right: 0.5rem !important;
}

.comicInfo{
    width: 100%;
    background: linear-gradient(180deg,hsla(0,0%,100%,.5),#fff);
    border-radius: 1.111111rem;
    border-top: 0.138889rem solid hsla(0,0%,100%,.8);
    border-left: 0.138889rem solid hsla(0,0%,100%,.8);
    border-right: 0.138889rem solid hsla(0,0%,100%,.8);
}

.leftSide{
    float: left;
    width: 25%;
}

.leftSide img{
    width: 14.583333rem;
    min-height: 19.444444rem;
    max-height: 19.444444rem;
    background: #e3e3e3;
    box-shadow: 0 0.555556rem 2.083333rem 0 rgb(0 0 0 / 15%);
    margin-right: 2.083333rem;
    border-radius: 0.555556rem;
    border: 1px solid #f0f2f5;
}

.rightSide{
    float: right;
    width: 75%;
}

.clear{
    clear: both;
}

/* Comic List */

.comicList{
    margin: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

.comicName > h5{
    font-family: 'Dosis', sans-serif;
    font-size: 1.944444rem;
}

.comicGenres,.comicAuthor{
    margin: 0.6rem 0;
    font-size: 1rem;
}

.comicGenres > span{
    font-family: 'Dosis', sans-serif;
    display: inline-block;
    margin-right: 1rem;
    background: aliceblue;
    padding: 0.4rem 0.7rem;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    
}

.comicGenres a{
    text-decoration: none;
    color: #606266;
}

.comicAuthor > span{
    font-family: 'Dosis', sans-serif;
}

.chapterBannerLine{
    margin: 1.5rem 0;
}

.chapterBannerLine > h5{
    font-size: 18px;
}

.updateDetail{
    margin-left: 1rem;
    font-size: 16px;
}

.headerRecommend{
    font-family: 'Dosis', sans-serif;
}

.chapterList{
    min-height: 27.222222rem;
    max-height: 27.222222rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.chapterBox{
    margin: 12px 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar-thumb{
    background-color: #555;
}

::-webkit-scrollbar {
    width: 0.694444rem;
    height: 0.694444rem;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.416667rem rgb(0 0 0 / 30%);
    border-radius: 0.416667rem;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}